extends layout

block content
    .container-fluid.notes_top
      .card.text-white.mb-3.shadow-lg
        .card-body
            .container-flud
                .row
                    .col
                        h2(class="card-title")=title
                        hr(class="titleHR")
                .row
                    .col
                        h5(class="card-title")=title2
                .row
                    .col.text-center
                        div(id='_displayNotes' class='text-center font-weight-bold display-2')
                .row.mb-2
                    .col.text-right
                        input(type="button",class="btn btn-light btn-gen",id='_rBtn', value='Generate Notes') 
                .row
                    .col.text-center
                        .btn-group.special(id="_usrAnswerButtons", role="group", aria-label="Semitones Group")                            
    .container-fluid.notes_bottom
        .card.text-white.mb-3.shadow-lg
            .card-body.bottomCard
                nav
                    .nav.nav-tabs(id="_nav-tab", role="tablist")
                        a(class="nav-item nav-link active" id="_listview-tab" data-toggle="tab" 
                        href="#_list" role="tab" aria-controls="_list" aria-selected="true") Activity List
                        a(class="nav-item nav-link" id="_circleview-tab" data-toggle="tab" 
                        href="#_circle" role="tab" aria-controls="_circle" aria-selected="false") Circle View

                .tab-content(id="_tabContent")
                    .tab-pane.fade.show.active(id="_list", role="tabpanel" aria-labelledby="_listview-tab")
                        .listContents
                            .list-group(id="_listContents")
                    .tab-pane.fade(id="_circle", role="tabpanel" aria-labelledby="_circleview-tab")
                        .container
                            .circleContent(id="_circleContents")
    nav(class="navbar fixed-bottom navbar-light bg-dark")
        span(class="text-muted") By Robel Beyene | Contact me: #[a(href="mailto:robeyene620@gmail.com") robeyene620@gmail.com]
            
