:root{
    --bg_color : #383548;
    --section_color : #2F2933;
    --button_color: #BF0D7F;
}

body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--bg_color);
}
.card{
    background-color: var(--section_color);
    color:white;
}
.bottomCard{
    padding: 0px;
}
.list-group-item{
    background-color: var(--bg_color);
    color:white;
}
.btn{
    background-color: var(--button_color);
    color:white;
}

a {
  color: white;
}

.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1;
}
.titleHR{
    border: .5px solid white;
}
